---
import storyData from "../data/story.json";
import CinemaLayout from "../layouts/cinemaLayout.astro";
import StoryContainer from "../components/storyContainer.astro";
import OptionButton from "../components/optionButton.astro";
import ImageContainer from "../components/imageContainer.astro";

const params = Astro.url.searchParams;

const storyList = storyData.stories;
const initialStoryId = storyList[0].id;

const nombre = params.get("nombre") || "";
const fechaNacimiento = params.get("fechaNacimiento") || "";
const palabras = params.get("palabras") || "";
const aspectUrl = params.get("aspectUrl") || "";
---

<CinemaLayout title="Spooky Hackaton-Tu historia">
    <div class="relative min-h-screen">
        <!-- Content container -->
        <main
            class="relative z-10 flex flex-col items-center justify-center min-h-screen p-4"
        >
            <div class="max-w-7xl w-full text-center">
                {
                    storyList.map((story) => (
                        <div id={`story-${story.id}`} class="mb-6 hidden">
                            <ImageContainer
                                prompt={story.imagePrompt}
                                aspectUrl={aspectUrl}
                            />
                            <StoryContainer
                                titulo={story.titulo}
                                texto={story.texto}
                            />
                        </div>
                    ))
                }
                <div
                    id="button-container"
                    class="flex flex-wrap justify-center gap-4"
                >
                    {
                        [1, 2, 3, 4].map((i) => (
                            <OptionButton
                                id={`button-${i}`}
                                label=""
                                onClick=""
                                class="hidden"
                            />
                        ))
                    }
                </div>
            </div>
        </main>
    </div>
</CinemaLayout>

<script define:vars={{ storyList, initialStoryId }}>
    function displayStory(id) {
        const story = storyList.find((s) => s.id === id);
        if (story) {
            // Hide all story containers
            storyList.forEach((s) => {
                const container = document.getElementById(`story-${s.id}`);
                if (container) container.style.display = "none";
            });

            // Show the selected story container
            const selectedContainer = document.getElementById(`story-${id}`);
            if (selectedContainer) selectedContainer.style.display = "block";

            // Update buttons
            for (let i = 1; i <= 4; i++) {
                const button = document.getElementById(`button-${i}`);
                const labelKey = `label_button${i}`;
                const gotoKey = `goto_button${i}`;

                if (
                    story[labelKey] &&
                    story[gotoKey] &&
                    story[gotoKey] !== "none"
                ) {
                    button.textContent = story[labelKey];
                    button.onclick = () => displayStory(story[gotoKey]);
                    button.style.display = "block";
                } else {
                    button.style.display = "none";
                }
            }
        } else {
            console.error("Story not found");
        }
    }

    // Display the initial story on page load
    displayStory(initialStoryId);
</script>
<style>
    #button-container {
        display: flex;
        margin-top: 20px;
    }
</style>
